<aside data-component="sidebar"></aside>
<div class="main-content">
    <form data-form="inventoryCategories" action="api/inventory/categories/save" method="post" data-ajax-submit="true" data-load-api="api/inventory/categories/get"
          data-load-query-params="true" data-confirm="Confirm save">
        <header data-component="topbar"></header>
        <main class="content">
            <div class="card-groups">
                <header>
                    <div>
                        <h1 class="icon-tags" data-text="title || type" data-i18n>{LNG_Category}</h1>
                        <p data-i18n>Manage product master data</p>
                    </div>
                </header>
                <div class="content-body">
                    <fieldset class="grid">
                        <div class="tablebody">
                            <table class="table border fullwidth" data-table="inventoryCategories" data-editable-rows="true" data-attr="data:options">
                                <thead>
                                    <th data-field="id" data-cell-element="text" data-size="2" data-max-length="10">ID</th>
                                    <th data-field="topic" data-cell-element="text" data-max-length="150" data-i18n>{LNG_Detail}</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset class="submit">
                        <button type="submit" class="btn btn-primary icon-save" data-i18n>{LNG_Save}</button>
                        <input type="hidden" name="type" data-attr="value:type">
                    </fieldset>
                </div>
            </div>
        </main>
    </form>
</div>
<footer class="footer">
    <p class="center">&copy; 2026 Admin Framework - Powered by <a href="https://nowjs.net">Now.js</a></p>
</footer>