<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header>
          <div>
            <h1 class="icon-product" data-i18n>{LNG_Product}</h1>
            <p data-i18n>Manage products in the warehouse</p>
          </div>
          <button class="btn btn-primary icon-new" data-action="click.prevent:requestApi" data-api-url="api/inventory/product/get?modal=1" data-api-method="get"
                  data-param-tableId="products" data-i18n>{LNG_Add} {LNG_Product}</button>
        </header>
        <div class="content-body">
          <div class="tablebody">
            <table class="table border fullwidth" data-table="products" data-source="api/inventory/products" data-default-sort="id desc" data-page-size="25"
                   data-show-checkbox="true" data-actions='{"delete":"Delete"}' data-action-url="api/inventory/products/action" data-row-actions='{
                      "edit": {
                        "label": "Edit",
                        "className": "btn btn-success icon-edit"
                      }
                    }'>
              <thead>
                <tr>
                  <th data-field="topic" data-sort="topic" data-formatter="formatProductWithImage" data-i18n>{LNG_Product}</th>
                  <th data-field="category_id" class="center" data-cell-class="center" data-filter="true" data-type="select" data-sort="category_id" data-format="lookup" data-i18n>
                    {LNG_Category}</th>
                  <th data-field="cost" class="center" data-cell-class="center"
                      data-template="<a href='/inventory-cost-layers?inventory_id=${id}' title='{LNG_Cost Layers}'>${cost}</a>" data-i18n> {LNG_Cost}</th>
                  <th data-field="item_count" class="center" data-cell-class="center" data-template="<a href='/inventory-items?id=${id}' title='{LNG_Items}'>${item_count}</a>"
                      data-i18n>{LNG_Items} </th>
                  <th data-field="total_stock" class="center" data-cell-class="center" data-sort="total_stock"
                      data-template="<a href='/inventory-stock-movements?inventory_id=${id}' title='{LNG_Stock Movement}'>${total_stock}</a>" data-i18n>{LNG_Stock}</th>
                  <th data-field="inuse" class="center" data-cell-class="center" data-filter="true" data-type="select" data-sort="inuse"
                      data-template="<button class='btn-table-action' data-action='active' data-value='${inuse}'></button>" data-i18n>{LNG_Active}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 Admin Framework - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>