@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k9c2vx');
  src:  url('fonts/icomoon.eot?k9c2vx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k9c2vx') format('truetype'),
    url('fonts/icomoon.woff?k9c2vx') format('woff'),
    url('fonts/icomoon.svg?k9c2vx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sort_asc:after, .sort_desc:after, .sort_none:after,
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 5px;
  min-width: 1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sort_asc:after, .sort_desc:after, .sort_none:after {
  margin-right: 0;
  margin-left: 5px;
}
.notext.sort_asc:after, .notext.sort_desc:after, .notext.sort_none:after {
  margin-left: 0;
}
li[class^="icon-"], li[class*=" icon-"] {
  list-style-type: none;
}
.sort_asc:hover, .sort_desc:hover, .sort_none:hover, [class^="icon-"]:hover, [class*=" icon-"]:hover {
  text-decoration: none;
}
a.icon-delete:before, a.icon-edit:before, a.icon-check:before, a.icon-uncheck:before {
  margin: 0;
}
.icon-cols:before {
  content: "\e5d2";
}
.icon-rows:before {
  content: "\e5d3";
}
.icon-smile:before {
  content: "\29";
}
.icon-plus:before {
  content: "\2b";
}
.icon-minus:before {
  content: "\2d";
}
.icon-help:before {
  content: "\3f";
}
.icon-bold:before {
  content: "\62";
}
.icon-fontcolor:before {
  content: "\63";
}
.icon-sex-f:before {
  content: "\66";
}
.icon-sex:before {
  content: "\67";
}
.icon-height:before {
  content: "\68";
}
.icon-italic:before {
  content: "\69";
}
.icon-question:before {
  content: "\71";
}
.icon-fontsize:before {
  content: "\73";
}
.icon-width:before {
  content: "\77";
}
.icon-close:before {
  content: "\78";
}
.icon-documents:before {
  content: "\e600";
}
.icon-money:before {
  content: "\e601";
}
.icon-modules:before {
  content: "\e602";
}
.icon-table:before {
  content: "\e603";
}
.icon-index:before {
  content: "\e604";
}
.icon-share:before {
  content: "\e605";
}
.icon-search:before {
  content: "\e607";
}
.icon-listview:before {
  content: "\e608";
}
.icon-iconview:before {
  content: "\e609";
}
.icon-continue:before {
  content: "\e60a";
}
.icon-next:before {
  content: "\e60b";
}
.icon-prev:before {
  content: "\e60c";
}
.icon-save:before {
  content: "\e60d";
}
.icon-link:before {
  content: "\e60e";
}
.icon-thumbview:before {
  content: "\e60f";
}
.icon-menus:before {
  content: "\e610";
}
.icon-subcategory:before {
  content: "\e611";
}
.icon-loading:before {
  content: "\e612";
}
.icon-keyboard:before {
  content: "\e613";
}
.icon-world:before {
  content: "\e614";
}
.icon-summary:before {
  content: "\e615";
}
.icon-wizard:before {
  content: "\e616";
}
.icon-ip:before {
  content: "\e617";
}
.icon-filter:before {
  content: "\e618";
}
.icon-language:before {
  content: "\e619";
}
.icon-news:before {
  content: "\e61a";
}
.icon-gps:before {
  content: "\e61b";
}
.icon-create:before {
  content: "\e61c";
}
.icon-copy:before {
  content: "\e61d";
}
.icon-vol-down:before {
  content: "\e61f";
}
.icon-newtopic:before {
  content: "\e620";
}
.icon-vol-up:before {
  content: "\e621";
}
.icon-currency:before {
  content: "\e622";
}
.icon-tags:before {
  content: "\e627";
}
.icon-like:before {
  content: "\e628";
}
.icon-unlike:before {
  content: "\e629";
}
.icon-clip:before {
  content: "\e62a";
}
.icon-unzip:before {
  content: "\e62d";
}
.icon-star0:before {
  content: "\e62e";
}
.icon-star1:before {
  content: "\e62f";
}
.icon-star2:before {
  content: "\e630";
}
.icon-email-read:before {
  content: "\e631";
}
.icon-email-open:before {
  content: "\e632";
}
.icon-email-refresh:before {
  content: "\e633";
}
.icon-email-reply:before {
  content: "\e634";
}
.icon-email-replied:before {
  content: "\e635";
}
.icon-email-unread:before {
  content: "\e636";
}
.icon-email-sent:before {
  content: "\e637";
}
.icon-portfolio:before {
  content: "\e638";
}
.icon-database:before {
  content: "\e639";
}
.icon-template:before {
  content: "\e63a";
}
.icon-rss:before {
  content: "\e63f";
}
.icon-info:before {
  content: "\e643";
}
.icon-warning:before {
  content: "\e644";
}
.icon-color:before {
  content: "\e646";
}
.icon-tip:before {
  content: "\e647";
}
.icon-favorite:before {
  content: "\e648";
}
.icon-write:before {
  content: "\e649";
}
.icon-new:before {
  content: "\e64a";
}
.icon-document:before {
  content: "\e64b";
}
.icon-find:before {
  content: "\e64c";
}
.icon-pie:before {
  content: "\e64d";
}
.icon-bars:before {
  content: "\e64e";
}
.icon-stats:before {
  content: "\e64f";
}
.icon-create-folder:before {
  content: "\e650";
}
.icon-folder:before {
  content: "\e651";
}
.icon-folder-open:before {
  content: "\e652";
}
.icon-category:before {
  content: "\e653";
}
.icon-board:before {
  content: "\e654";
}
.icon-comments:before {
  content: "\e655";
}
.icon-chat:before {
  content: "\e656";
}
.icon-personnel:before,
.icon-customer:before {
  content: "\e657";
}
.icon-unlock:before {
  content: "\e659";
}
.icon-lock:before {
  content: "\e65a";
}
.icon-aligncenter:before {
  content: "\e65b";
}
.icon-user:before {
  content: "\e65c";
}
.icon-users:before {
  content: "\e65d";
}
.icon-import:before {
  content: "\e65e";
}
.icon-export:before {
  content: "\e65f";
}
.icon-download:before {
  content: "\e660";
}
.icon-upload:before {
  content: "\e661";
}
.icon-inbox:before {
  content: "\e662";
}
.icon-outbox:before {
  content: "\e663";
}
.sort_asc:after,
.icon-move_down:before {
  content: "\e664";
}
.sort_desc:after,
.icon-move_up:before {
  content: "\e665";
}
.icon-move_right:before {
  content: "\e666";
}
.icon-move_left:before {
  content: "\e667";
}
.sort_none:after,
.icon-move:before {
  content: "\e668";
}
.icon-product:before {
  content: "\e669";
}
.icon-shipping:before {
  content: "\e66a";
}
.icon-addtocart:before {
  content: "\e66b";
}
.icon-billing:before {
  content: "\e66d";
}
.icon-calculator:before {
  content: "\e66e";
}
.icon-payment:before {
  content: "\e670";
}
.icon-cart:before {
  content: "\e671";
}
.icon-ticket:before {
  content: "\e672";
}
.icon-currexchange:before {
  content: "\e673";
}
.icon-left:before {
  content: "\e676";
}
.icon-right:before {
  content: "\e677";
}
.icon-drag:before {
  content: "\e678";
}
.icon-signout:before {
  content: "\e679";
}
.icon-signin:before {
  content: "\e67a";
}
.icon-password:before {
  content: "\e67c";
}
.icon-home:before {
  content: "\e67d";
}
.icon-preview:before {
  content: "\e67e";
}
.icon-email:before {
  content: "\e67f";
}
.icon-tools:before {
  content: "\e680";
}
.icon-settings:before {
  content: "\e682";
}
.icon-pause:before {
  content: "\e683";
}
.icon-stop:before {
  content: "\e684";
}
.icon-play:before {
  content: "\e685";
}
.icon-thumbnail:before {
  content: "\e686";
}
.icon-gallery:before {
  content: "\e687";
}
.icon-location:before {
  content: "\e688";
}
.icon-map:before {
  content: "\e689";
}
.icon-check:before {
  content: "\e68a";
}
.icon-uncheck:before {
  content: "\e68b";
}
.icon-host:before {
  content: "\e68c";
}
.icon-computer:before {
  content: "\e68d";
}
.icon-ads:before {
  content: "\e68e";
}
.icon-radio:before {
  content: "\e68f";
}
.icon-song:before {
  content: "\e690";
}
.icon-collapse:before {
  content: "\e691";
}
.icon-video:before {
  content: "\e692";
}
.icon-book:before {
  content: "\e693";
}
.icon-game:before {
  content: "\e694";
}
.icon-event:before {
  content: "\e695";
}
.icon-hotel:before {
  content: "\e696";
}
.icon-edocument:before {
  content: "\e697";
}
.icon-gift:before {
  content: "\e698";
}
.icon-win:before {
  content: "\e699";
}
.icon-addressbook:before {
  content: "\e69a";
}
.icon-profile:before {
  content: "\e69b";
}
.icon-address:before {
  content: "\e69c";
}
.icon-list:before {
  content: "\e69d";
}
.icon-print:before {
  content: "\e69e";
}
.icon-alarm:before {
  content: "\e69f";
}
.icon-bookmark:before {
  content: "\e6a0";
}
.icon-delete:before {
  content: "\e6a1";
}
.icon-expand:before {
  content: "\e6a2";
}
.icon-quote:before {
  content: "\e6a3";
}
.icon-dashboard:before {
  content: "\e6a6";
}
.icon-pin:before {
  content: "\e6ab";
}
.icon-unpin:before {
  content: "\e6ac";
}
.icon-visited:before {
  content: "\e6ad";
}
.icon-report:before {
  content: "\e6ae";
}
.icon-design:before {
  content: "\e6af";
}
.icon-forward:before {
  content: "\e6b1";
}
.icon-layout:before {
  content: "\e6b2";
}
.icon-widgets:before {
  content: "\e6b3";
}
.icon-alignleft:before {
  content: "\e6b4";
}
.icon-reply:before {
  content: "\e6b5";
}
.icon-alignright:before {
  content: "\e6b7";
}
.icon-bgcolor:before {
  content: "\e6b9";
}
.icon-history:before {
  content: "\e6bb";
}
.icon-flag:before {
  content: "\e6bc";
}
.icon-clock:before {
  content: "\e6c2";
}
.icon-underline:before {
  content: "\e6c6";
}
.icon-published1:before {
  content: "\e6c7";
}
.icon-published0:before {
  content: "\e6c8";
}
.icon-forum:before {
  content: "\e6ce";
}
.icon-ban:before {
  content: "\e6d1";
}
.icon-edit:before {
  content: "\e6d2";
}
.icon-valid:before {
  content: "\e6d4";
}
.icon-invalid:before {
  content: "\e6d5";
}
.icon-responsive:before {
  content: "\e6db";
}
.icon-estudent:before,
.icon-elearning:before {
  content: "\e6dc";
}
.icon-calendar:before {
  content: "\e6f1";
}
.icon-office:before {
  content: "\e901";
}
.icon-rocket:before {
  content: "\e902";
}
.icon-shuffle:before {
  content: "\e903";
}
.icon-excel:before {
  content: "\e904";
}
.icon-pdf:before {
  content: "\e905";
}
.icon-word:before {
  content: "\e907";
}
.icon-sex-m:before {
  content: "\e908";
}
.icon-register:before {
  content: "\e973";
}
.icon-verfied:before {
  content: "\e975";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-dev:before {
  content: "\f0c3";
}
.icon-file:before {
  content: "\f0f6";
}
.icon-sort:before {
  content: "\f160";
}
.icon-phone:before {
  content: "\f1c1";
}
.icon-exchange:before {
  content: "\f1c3";
}
.icon-image:before {
  content: "\f1c5";
}
.icon-zip:before {
  content: "\f1c6";
}
.icon-code:before {
  content: "\f1c9";
}
.icon-cc:before {
  content: "\f20a";
}
.icon-bing:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-git:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e90c";
}
.icon-googleplus:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e640";
}
.icon-paypal:before {
  content: "\e90e";
}
.icon-pinterest:before {
  content: "\e658";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-visa:before {
  content: "\e912";
}
.icon-youtube:before {
  content: "\e913";
}
.icon-wechat:before {
  content: "\e914";
}
.icon-skype:before {
  content: "\e915";
}
.icon-line:before {
  content: "\e916";
}
.icon-travel:before {
  content: "\e539";
}
.icon-baby:before {
  content: "\eb42";
}
.icon-boat:before {
  content: "\e532";
}
.icon-bus:before {
  content: "\e530";
}
.icon-railway:before {
  content: "\e534";
}
.icon-bed:before {
  content: "\e549";
}
.icon-drink:before {
  content: "\e541";
}
.icon-cloud:before {
  content: "\e2c2";
}
.icon-number:before {
  content: "\2a";
}
.icon-reset:before {
  content: "\e8ba";
}
.icon-compare:before {
  content: "\e917";
}
.icon-food:before {
  content: "\e906";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-fullscreen:before {
  content: "\e674";
}
.icon-contract:before {
  content: "\e675";
}
.icon-config:before {
  content: "\e681";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-wallet:before {
  content: "\e900";
}
.icon-child:before {
  content: "\e90f";
}
.icon-fontfamily:before {
  content: "A";
  font-family: Arial !important;
}
