@page {
  size: A4;
  width: 21cm;
  height: 29.7cm;
  display: block;
}
body {
  font-size: 9pt;
  line-height: 1.6;
  background-color: #FFF;
  color: #00001A;
}
@media screen {
  html {
    background-color: rgb(204, 204, 204);
  }
  body {
    font-family: Tahoma, Loma, 'Times New Roman', Times, serif;
    margin: 0.5cm auto;
    padding: 1cm;
    width: 21cm;
    height: 29.7cm;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}
@media print {
  body {
    font-family: 'garuda', Tahoma, Loma, 'Times New Roman', Times, serif;
  }
}
h1 {
  font-size: 1.2em;
}
h2, h3, h4, h5, h6 {
  font-size: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #666666;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  border-color: #000;
}
table, th, td, .border {
  border-width: 1px;
}
td {
  vertical-align: top;
}
td, th {
  padding: 5px;
}
th.description {
  width: 40%;
}
table.collapse td {
  padding: 0;
}
td.stamp {
  border-style: solid solid dotted none;
  height: 100px;
  position: relative;
  text-align: center;
}
img.logo {
  width: auto;
  max-height: 4.8em;
}
img.signature,
img.stamp {
  width: auto;
  height: 100px;
}
img.signature {
  position: relative;
  margin-top: -100px;
  margin-left: -100px;
}
.label {
  background-color: #DDD;
}
.border,
.border-all,
th,
.detail td {
  border-right-style: solid;
  border-bottom-style: solid;
}
th:nth-child(1),
.detail td:nth-child(1),
.border-all,
.border-left {
  border-left-style: solid;
}
tr:nth-child(1) th,
.border-all,
.border-top {
  border-top-style: solid;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.middle {
  vertical-align: middle;
}