<div class="auth-container">
  <div class="auth-card">
    <form data-form="forgot" class="auth-form" novalidate action="api/index/auth/forgot" method="post" data-ajax-submit="true" data-load-api="api/index/config/login"
          data-load-cache="true" data-load-cache-time="300000">
      <div class="auth-header">
        <a href="/" class="auth-logo icon-password"></a>
        <h1 data-i18n>Forgot Password</h1>
        <p class="login-message" data-i18n>Enter your email or username to reset your password.</p>
      </div>
      <fieldset>
        <div>
          <label for="forgot_username" data-i18n>{LNG_Username}/{LNG_Email}</label>
          <span class="form-control icon-email">
            <input maxlength="255" type="text" id="forgot_username" name="username" autocomplete="username" autofocus required placeholder="your@email.com">
          </span>
        </div>
      </fieldset>
      <fieldset class="center">
        <button type="submit" class="btn btn-primary fullwidth large icon-email" data-i18n>Send Reset Link</button>
      </fieldset>
      <div class="center">
        <a href="login" class="icon-signin" data-i18n>{LNG_Back to} {LNG_Login}</a>
      </div>
    </form>
  </div>
</div>