<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <h1 class="center" data-i18n>Welcome to the Admin Framework</h1>
      <p class="center" data-i18n>This is your central hub for managing customer relationships effectively.</p>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 Admin Framework - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>
